* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #232323;
    background-image: url(vista\ bartolome\ 2.webp);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

header {
    background-color: #ffffff;
    height: 100px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    height: 100%;
}

nav {
    display: flex;
    gap: 50px;
}

nav, nav a, button {
    font-family: 'Times New Roman', Times, serif !important;
}

nav a {
    text-decoration: none;
    color: #232323;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: .4s ease;
}

nav a:hover {
    border-bottom: 2px solid #232323;
}

header img {
    width: 100px;
    height: auto;
}

.tour-list {
    max-width: 1200px;
    margin: 30px auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.tour-card {
    background-color: rgba(35, 35, 35, 0.8);
    border-radius: 15px;
    overflow: hidden;
    padding: 20px;
    display: flex;
    gap: 30px;
    align-items: flex-start;
    flex-direction: row; /* Cambia a fila para que la info esté al lado derecho de la foto */
}

.tour-image {
    width: 350px;
    height: 250px;
    border-radius: 25px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border: 1px solid greenyellow;
    object-fit: cover;
    transition: transform 0.3s ease;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.tour-image:hover {
    transform: scale(1.05);
}

.tour-info {
    flex: 1;
}

.tour-info p {
    margin-bottom: 10px;
    line-height: 1.5;
}

.buy-button {
    display: inline-block;
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    margin-top: 15px;
    transition: background-color 0.3s;
}

.buy-button:hover {
    background-color: #3e8e41;
}

@media (max-width: 768px) {
    .tour-card {
        flex-direction: column;
    }
    
    .tour-image {
        width: 100%;
        height: auto;
    }
    
    .header-container {
        flex-direction: column;
        padding: 20px;
        gap: 20px;
        height: auto;
    }
    
    nav {
        gap: 20px;
        flex-wrap: wrap;
        justify-content: center;
    }
}